extends ../layout

block content
    table 
        thead 
            tr 
                td.tcol_short Key 
                td.tcol_span Citation 
                td.tcol_short See
        tbody
            for ref in references 
                tr
                    td= ref.refkey 
                    td= ref.citation
                    td 
                        a(href=`/factors/${ref._id}`) see