doctype html

html
  head
    block head
      title Requirements Quality Factor Ontology

      link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Barlow&display=swap')
      link(rel='stylesheet' href='https://use.fontawesome.com/releases/v6.0.0/css/all.css')

      link(rel='stylesheet' href='/stylesheets/stylebase.css')
      link(rel='stylesheet' href='/stylesheets/table.css')
      link(rel='stylesheet' href='/stylesheets/dropdown.css')


  body
    header
      .headline
        h1.largescreen Requirements Quality Factor Ontology
        h1.smallscreen RQFO
        //- a(href='https://www.bth.se/eng/about-bth/organisation/faculty-of-computing/softwareengineering/' target="_blank")
        //-  img.logo(src="/images/logos/bth.png")
      .headline
        nav
          ul
            li 
              a(href='/overview') Overview
            li.dropdown 
              button.dropbtn Content 
                i.fa-solid.fa-caret-down
              .dropdown-content 
                a(href='/content/factors') 
                  i.fa-solid.fa-circle
                  | Factors + Descriptions
                a(href='/content/datasets') 
                  i.fa-solid.fa-database
                  | Data Sets 
                a(href='/content/approaches') 
                  i.fa-solid.fa-screwdriver-wrench
                  | Approaches
                a(href='/content/references') 
                  i.fa-solid.fa-file-lines
                  | References
            li.dropdown 
              button.dropbtn Structure 
                i.fa-solid.fa-caret-down
              .dropdown-content 
                a(href='/structure/guideline' title='Guideline for extracting objects for the ontology') 
                  i.fa-solid.fa-vial
                  | Extraction Guideline
                a(href='/structure/versions' title='Available versions of the requirements quality factor ontology')
                  i.fa-solid.fa-code-merge
                  | Versions 

    block content