/* GENERAL STYLING */
html {
    background: #f7f7f7;
}

body {
    font-size: 14px;
    font-family: 'Barlow', sans-serif;
    color: rgb(49, 46, 46);
    background: white;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
}

/* CONTAINERS */
header {
    padding-bottom: 10px;
}

header>*>h1 {
    padding: 0 40px 0 0;
}

.headline {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.headline>h1 {
    flex-grow: 1;
}

nav {
    display: inline-block;
    vertical-align: middle;
}

nav li {
    display: inline;
    padding-right: 10px;
}

/* RECURRING ELEMENTS */
a {
    text-decoration: none;
    color: #100e79;
}

a:hover {
    color: #1b18cc;
}

.highlightable:hover {
    box-shadow: 0 0 15px 5px rgba(105, 105, 105, 0.6);
    transition: 0.3s;
}

.bold {
    font-weight: bold;
}

.capitalized {
    text-transform: capitalize;
}

.subscript {
    font-size: 0.9em;
    font-style: italic;
}

/* MEDIA QUERIES */
@media (min-width: 800px) {
    body {
      max-width: 1200px;
      text-align: left;
    }
  }

@media (max-width: 800px) {
    .smallscreen {
        display: inherit;
    }

    .largescreen {
        display: none;
    }
}

@media (min-width: 801px) {
    .smallscreen {
        display: none;
    }

    .largescreen {
        display: inherit;
    }
}