/* Table listing items */
table {
    text-align: left;
    margin: 20px 0;
}

thead>tr>td {
    background: rgb(231, 231, 231);
    font-weight: bold;
}

.t_span {
    width: 99%;
}

th, td {
    padding: 5px;
}

.tcol_icon {
    width: 20px;
    cursor: help;
    text-align: center;
}

.tcol_short {
    width: 40px;
}

.tcol_middle {
    width: 100px;
}

.tcol_wide {
    width: 250px;
}

.tcol_highlight {
    background-color: rgba(0, 225, 255, 0.1)
}

tbody>tr:hover {
    background: #f5f5f5;
}

.tc_good {
    background-color: rgb(146, 208, 80);
    text-align: center;
}

.tc_okay {
    background-color: rgb(255, 192, 0);
    text-align: center;
}

.tc_bad {
    background-color: rgb(192, 0, 0);
    text-align: center;
}

.tc_unknown {
    background-color: #dddddd;
    text-align: center;
}

.tc_obsolete {
    background-color: #3a3a3a;
    text-align: center;
}